/* font-family: 'Roboto', sans-serif;
font-family: 'Shadows Into Light', cursive; */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}

.App {
  text-align: center;
  background-image: url(../src/assets/7747720.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1300px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin: 0;
  padding: 75px 0 25px 0;
  font-family: 'Shadows Into Light', cursive;
  font-size: 4rem;
  color: white;
}

p {
  padding: 25px 0;
  font-size: 1rem;
}

h2 {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    font-size: 1.3rem;
}

img, video{
    height: 200px;
    margin: 0 auto;
    border: 5px solid black;
}

.gameResultsContainer {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
    overflow: auto;
    background: rgba(255,255,255,0.35);
    border-radius: 40px;
    border: 5px solid white;
}
/* // */
.gameContainer {
    margin: 15px 0;
    padding: 10px;
    width: 30%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 7px outset #FFAB71;
    border-radius: 0px 40px 0px 40px;
    box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
    background: rgba(255,255,255,0.85);
}

.gameContainer:nth-child(-n+3) {
    margin-top: 25px;
}

label {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding-right: 15px;
}

select {
  font-size: 0.8rem;
}

footer {
  font-size: 1rem;
  text-align: center;
  padding: 5px 0;
  background-color: grey;
}

@media(max-width: 1650px) {
  .App {
    height: 1050px;
  }

  .gameResultsContainer {
    height: 700px;
    overflow: auto;
  }

  .gameContainer:nth-child(n+3) {
    margin-top: 20px;
  }

  .gameContainer {
    width: 35%;
  }

  h1 {
    padding: 75px 0 25px 0;
  }
}

@media(max-width: 1200px) {
  .gameContainer {
    width: 60%;
  }
}

@media(max-width: 900px) {
  .gameContainer { 
    width: 60%;
  }
}

@media(max-width: 700px) {
  .gameContainer {
    width: 80%;
  }
}

@media(max-width: 630px) {
  h1 {
    font-size: 3.5rem;
  }
  video, img {
    height: 150px;
  }
  .gameContainer {
    width: 70%;
  }
}

@media(max-width: 570px) {
  h1 {
    font-size: 3rem;
  }
  video, img {
    height: 125px;
  }
}

@media(max-width: 475px) {
  h1 { 
    font-size: 2.5rem;
  }
  label {
    font-size: 0.8rem;
  }
}

@media(max-width: 395px) {
  video, img {
    height: 100px;
  }

  h1 {
    font-size: 2.2rem;
  }

  label {
    font-size: 0.7rem;
  }
}

@media(max-width: 350px) {
  .dropdownMenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .dropdownMenu label {
    width: 100%;
    padding-right: 0;
    padding-bottom: 15px;
  }
  .dropdownMenu select {
    margin: 0 auto;
    width: 50%;
  }

  h1{
    font-size: 2rem;
  }
} 